*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# API Keys - DO NOT COMMIT
app/src/main/java/com/example/pharmagotchi/ApiKeys.kt

# Email Credentials
app/src/main/java/com/example/pharmagotchi/EmailCredentials.kt
